<html>
    <head>
        <title>Followers</title>
    </head>
    <body>
        <h1>Accept or decline these follow requests</h1>
        {{req}}
        {% for follower in followers %}
        <div>


          <form action="/acceptFollow" method="POST">
            {{follower.username_follower}}
            <button type="submit"method="post" name="accept" value="{{follower.username_follower}}"> Accept </button>
            <button type="submit"method="post" name="decline" value="{{follower.username_follower}}"> Decline </button>
          </form>

        </div>
        {% endfor %}

        {{requests}}
    </body>
</html>
